.chef-card {
  width: 450px;
  height: 250px;
  margin: 20px auto;
  border-radius: 10px;
  background: #C5CBE3;
  box-shadow: 5px 5px 5px #000;

  .chef-card-name {
    color: black;
    box-shadow: 2px 2px 2px rgb(61, 61, 61);
    margin: 30px auto;
    padding: 15px 0;
    font-size: 24px;
  }

  .chef-card-font {
    text-decoration: none;
    color: black;
    margin: 20px auto;
  }
}

.chef-card:hover {
  background:linear-gradient(to top, rgb(236, 183, 85) 5%, #D79922 100%);
}